version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/requirements/"
    schedule:
      interval: "daily"
    assignees:
      - "luisa-beerboom"
    groups:
       opentelemetry-dependencies:
          patterns:
            - "opentelemetry-*"
    open-pull-requests-limit: 42

  - package-ecosystem: "pip"
    directory: "/system_tests/"
    schedule:
      interval: "daily"
    assignees:
      - "luisa-beerboom"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "rrenkert"
    ignore:
      - dependency-name: "python"
        update-types: ["version-update:semver-minor"]

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    assignees:
      - "luisa-beerboom"
