language: python

cache: pip

services:
  - docker

jobs:
  include:
    - name: "Tests: Shared"
      script: make -C shared run-travis
    - name: "Tests: Reader"
      script: make -C reader run-travis
    - name: "Tests: Writer"
      script: make -C writer run-travis
