# update to newer version as soon as https://github.com/konradhalas/dacite/issues/218 is fixed
dacite==1.7.0
fastjsonschema==2.19.0
Flask==3.0.0
gunicorn==21.2.0
psycopg2==2.9.9
redis==5.0.1

# opentelemetry
opentelemetry-api==1.22.0
opentelemetry-sdk==1.22.0
opentelemetry-exporter-otlp==1.22.0
opentelemetry-instrumentation-flask==0.43b0
opentelemetry-instrumentation-redis==0.43b0
