-r requirements-general.txt

# testing
pytest==9.0.2
pytest-cov==7.0.0

# linting & formatting
black==25.12.0
autoflake==2.3.1
isort==8.0.0
flake8==7.3.0
mypy==1.19.1

# other dev stuff
debugpy==1.8.19
pip-check==3.2.1
