name: CI - Build and Test Service

on:
  pull_request:
    branches:
      - main
      - 'feature/**'
      - 'staging/4*'

jobs:
  test-prod:
    name: "Test: Productive start"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build Prod
      run: make build-prod

    - name: Create secret
      run: mkdir secrets && echo -n "openslides" > secrets/postgres_password

    - name: Start container
      run: |
          source .env
          docker compose up -d --wait

    - name: Test that reader is up and running
      run: curl -I http://localhost:9010/

    - name: Test that writer is up and running
      run: curl -I http://localhost:9011/

  ci-tests:
    name: "Tests"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Build Tests
      run: make build-tests

    - name: Execute tests
      run: make run-ci

  test-full-system:
    name: "Full System Tests"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Start containers
      run: make run-dev-standalone

    - name: Execute tests
      run: make run-full-system-tests-check

    - name: Stop tests
      run: make stop-dev
